


/* Reset css */
* {
    box-sizing: border-box;
  }
  
  ul,
  li {
    list-style: none;
    list-style-type: none;
  }
  
  ul {
    padding: 0;
  }
  
  a {
    text-decoration: none;
  }
  
  /* End reset css */
  /* ********************** Table wrap ********************** */
  .table-wrap {
    color: #333;
    font-size: 14px;
  }
  
  /* ********************** End table wrap ********************** */
  /* ********************** Table common ********************** */
  table {
    width: 100%;
    overflow: hidden;
    border-radius: 4px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.15), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
  }
  /*
  table .pcs::after {
    content: " pcs";
  }
   */
  table .cur::before {
    /*content: "$"; */
  }

table .cur::after {
  content: "vnđ";
}

  table .per::after {
    /* content: "%"; */
  }
  table thead th {
    text-align: left;
    padding-block: 8px;
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #ececec;
  }
  table tbody tr:not(:last-child) td {
    border-bottom: 1px solid #ececec;
  }
  table th,
  table td {
    padding: 16px;
  }
  table td {
    vertical-align: middle;
  }
  
  /* ********************** End table common ********************** */


  
  

