.fui-navbar-basic {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}
.fui-navbar-basic .logo {
    display: flex;
    align-items: center;
    gap: 12px;
}
.fui-navbar-basic .logo img {
    height: 50px;
}
.fui-navbar-basic .logo span {
    font-size: 20px;
    font-weight: 700;
}
.fui-navbar-basic .nav-list {
    display: flex;
    align-items: center;
    gap: 24px;
}
.fui-navbar-basic .nav-link {
    transition: linear 0.25s;
    font-weight: 500;
    font-size: 14px;
}
.fui-navbar-basic .nav-link:hover {
    color: #1dc071;
}