.fui-basic-input .input {
    padding: 1rem;
    border-radius: 0.5rem;
    transition: linear 0.2s;
}
.fui-basic-input .input::-webkit-input-placeholder {
    color: #9ca3af;
}
.fui-basic-input .input::-moz-placeholder {
    color: #9ca3af;
}
.fui-basic-input .input:focus {
    border-color: #1dc071;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -2px rgba(0, 0, 0, 0.1);
}

.fui-basic-input .input-bordered {
    border: 1px solid #9ca3af;
}