.fui-basic-textarea .tarea {
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid #9ca3af;
    transition: linear 0.2s;
}
.fui-basic-textarea .tarea::-webkit-input-placeholder {
    color: #9ca3af;
}
.fui-basic-textarea .tarea::-moz-placeholder {
    color: #9ca3af;
}
.fui-basic-textarea .tarea:focus {
    border-color: #1dc071;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -2px rgba(0, 0, 0, 0.1);
}